@using HotelManagement.Models
@model HotelManagement.Models.Checkin

@{
    ViewBag.Title = "checkin";
}

<h2>checkin</h2>
<h2>checkin</h2>
@using (Html.BeginForm())
{

    <p>Guestname</p>


    @Html.TextBoxFor(model => model.GuestName) <br />
    <p> Contact number</p>
    @Html.TextBoxFor(model => model.contact)<br />
    <p>Address</p>
    @Html.TextBoxFor(model => model.address)<br />
    <p>Number of rooms Required</p>
    @Html.TextBoxFor(model => model.quantity)<br />
    <p>No.of Days for Stay</p>
    @Html.TextBoxFor(model => model.Total_days)
    <br />


<select name="RoomType">

    <option value='Standard'>Standard</option>
    <option value='Premium'>Premium</option>
    <option value='Delux'>Delux</option>


</select>



<input type="submit" value="Savedata" />
}

<a href="http://localhost:51709/CheckIn/Viewchekin">View check in</a>