@model IEnumerable<HotelManagement.Models.Checkin>
@using HotelManagement.Models
@{
    ViewBag.Title = "Viewchekin";
}

<h2>Viewchekin</h2>

<p>
  
    <table>
        <tr>
            <td>Guestname</td>
            <td>Contact Number</td>
            <td>Adress</td>
            <td>Room type</td>

            <td>Total Price</td>
            <td>Quantity of Room</td>
            <td>No. of days(stay)</td>
        </tr>
       @foreach (Checkin item in @Model)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingId)
                </td>
                <td>
                 @Html.DisplayFor(modelItem => item.GuestName)
                </td>
                <td>@Html.DisplayFor(modelItem => item.contact)</td>
                <td>@Html.DisplayFor(modelItem => item.address)</td>
             
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Total_days)</td>
                <td>@Html.DisplayFor(modelItem => item.bill) </td >
                <td><a href="http://localhost:51709/CheckIn/CheckOut?Id=@item.BookingId" >CheckOut</a></td>
            </tr>
        }
    </table>
</p>